@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Mono:wght@600&display=swap');

.font-oswald {
    font-family: 'Oswald', sans-serif;
}
.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}
.small-caps {
    font-variant: small-caps;
}